* {
    font: 18px Consolas;
}

body {
    background-color: #ccc;
}

#theForm {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 650px;
    padding: 10px;
    margin: 30px;
}

#theForm div {
    margin: 10px 0px;
}

#theForm,
button,
legend {
    text-transform: capitalize;
}