@keyframes slider {
  /* 動畫影格 */
  /* 0%{CSS 屬性} */
  0% {
    margin-left: 0px;
  }
  20% {
    margin-left: 200px;
  }
  50% {
    margin-left: 400px;
  }
  70% {
    margin-left: 600px;
  }
  90% {
    margin-left: 950px;
  }
}

img {
  animation-name: slider;
  animation-duration: 2s;
  animation-iteration-count: 3;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  /* https://easings.net */

  animation: slider 2s 3 alternate cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
