* {
    font: 20px consolas;
}

body {
    background: #ccc;
}

#theForm {
    background-color: #fff;
    width: 500px;
    /* w50p-->width:50% */
    padding: 10px;
    margin: 50px;
    border: 1px solid #ddd;
}

label,
button {
    /* 第一個字母大寫 */
    text-transform: capitalize;
}

p {
    color: maroon;
}

ol li {
    background-color: #abc;
}

ol li:hover {
    background-color: #cba;
    cursor: pointer;
    /* cursor: pointer;變手指 */

}